.label {
    font-weight: 500;
    font-size: 2rem;
}

.Header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 5rem;
}

.taskForm{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.button {
    padding: 0.75rem 1rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: var(--blue-700, #1D4ED8);
    border: 0;
    white-space: nowrap;
    color: var(--gray-50);
}

.button:hover{
    background: var(--blue-500, #1D4ED8);
}

.input{
    width: 100%;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-700, #374151);
    background: var(--gray-800, #1F2937);
    color: var(--gray-50);
    font-size: 0.875rem;
    font-weight: 400;
}

.input:focus {
    outline: 2px solid var(--blue-600);
    outline-offset: 2px;
}

.button:focus{
    outline: 2px solid var(--blue-600);
    outline-offset: 2px;
}

@media (max-width: 600px) {
    .taskForm {
      grid-template-columns: 1fr 1fr;
    }
    .taskForm div:first-child {
      grid-column: 1/4;
    }
  }